.cip-genpw-icon {
    position: absolute;
    cursor: pointer;
}

.cip-genpw-icon.key {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/key.png') right no-repeat;
    background-size: contain;
}

.cip-genpw-icon.key-moz {
    background: url('moz-extension://__MSG_@@extension_id__/icons/key.png') right no-repeat;
    background-size: contain;
}